<ion-view view-title="Register" >
    <ion-content padding="true" class="has-header">
        <form class="list" ng-submit="register.doRegistration()">
            <ion-list>
            <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="register.user.username">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Email" ng-model="register.user.email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="register.user.password">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Height" ng-model="register.user.height">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Weight" ng-model="register.user.weight">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Insurans Name" ng-model="register.user.insuransname">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Doctor's Name" ng-model="register.user.dr_name">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="Doctor's Number" ng-model="register.user.dr_no">
          </label>
          </ion-list>
        <button type="submit" class="button button-block  button-calm">Sign up</button>
      </form
  </ion-content>
</ion-view>

